<h1>Schedule</h1>
<p>Add/Edit Appointments and Reminders</p>

<p><%= link_to 'New Appoinment', new_event_appointment_path %></p>
<p><%= link_to 'New Reminder', new_event_reminder_path %></p>

<%= render 'calender' %>